In [51]:
import pandas as pd


sales = pd.read_csv('../DataReal/sales_train.csv', parse_dates=['date'], 
                    dtype={'date': 'str', 'date_block_num': 'int32', 'shop_id': 'int32', 
                          'item_id': 'int32', 'item_price': 'float32', 'item_cnt_day': 'int32'})

print(sales.dtypes)




df = pd.DataFrame()

date               object
date_block_num      int32
shop_id             int32
item_id             int32
item_price        float32
item_cnt_day        int32
dtype: object

In [56]:
# Data to be written to CSV
df['date'] = pd.date_range(start='2001-01-01', end='2002-12-31')


# Calculate the 'month_block' by assigning an index to each month
df['date_block_num'] = (df['date'].dt.year - 2001) * 12 + (df['date'].dt.month - 1)

df['shop_id'] = 0
df['item_id'] = 0
df['item_price'] = 1
df['item_cnt_day'] = 5

df['date'] = df['date'].dt.strftime('%Y-%m-%d')
display(df.head())
print(df.dtypes)

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  2001-01-01               0        0        0           1             5
1  2001-01-02               0        0        0           1             5
2  2001-01-03               0        0        0           1             5
3  2001-01-04               0        0        0           1             5
4  2001-01-05               0        0        0           1             5

date              object
date_block_num     int32
shop_id            int64
item_id            int64
item_price         int64
item_cnt_day       int64
dtype: object

In [57]:


# Specify the filename}
filename = "sales_train.csv"

# Writing to the CSV file
df.to_csv(filename, index=False)

print(f"{filename} created successfully!")

sales_train.csv created successfully!