In [1]:
import numpy as np
import pandas as pd
import warnings
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings(action='ignore') # Ignore warning message

# date path
data_path = '../Data/'

sales_train = pd.read_csv(data_path + 'sales_train.csv')
shops = pd.read_csv(data_path + 'shops.csv')
items = pd.read_csv(data_path + 'items.csv')
item_categories = pd.read_csv(data_path + 'item_categories.csv')
test = pd.read_csv(data_path + 'test.csv')
submission = pd.read_csv(data_path + 'sample_submission.csv')

Data Downcasting

In [2]:
def downcast(df, verbose=True):
    start_mem = df.memory_usage().sum() / 1024**2
    for col in df.columns:
        dtype_name = df[col].dtype.name
        if dtype_name == 'object':
            pass
        elif dtype_name == 'bool':
            df[col] = df[col].astype('int8')
        elif dtype_name.startswith('int') or (df[col].round() == df[col]).all():
            df[col] = pd.to_numeric(df[col], downcast='integer')
        else:
            df[col] = pd.to_numeric(df[col], downcast='float')
        if df[col].dtype.name=="float64":
            df[col] = df[col].astype('float32')
            
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose:
        print('{:.1f}% compressed'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

all_df = [sales_train, shops, items, item_categories, test]
for df in all_df:
    df = downcast(df)

62.5% compressed
38.5% compressed
54.2% compressed
39.8% compressed
70.8% compressed

## EDA and Data Preprocessing

### (0) Overview

In [3]:
comb_data = sales_train.join(items, on='item_id', rsuffix='_').join(shops, on='shop_id', rsuffix='_').join(item_categories, on='item_category_id', rsuffix='_').drop(['item_id_', 'shop_id_', 'item_category_id_'], axis=1)
display(comb_data.head().T)
display(comb_data.describe().T)
display(comb_data.dtypes)

,0,1,2,3,4
date,02.01.2013,03.01.2013,05.01.2013,06.01.2013,15.01.2013
date_block_num,0,0,0,0,0
shop_id,59,25,25,25,25
item_id,22154,2552,2552,2554,2555
item_price,999.0,899.0,899.0,1709.050049,1099.0
item_cnt_day,1,1,-1,1,1
item_name,ЯВЛЕНИЕ 2012 (BD),DEEP PURPLE The House Of Blue Light LP,DEEP PURPLE The House Of Blue Light LP,DEEP PURPLE Who Do You Think We Are LP,DEEP PURPLE 30 Very Best Of 2CD (Фирм.)
item_category_id,37,58,58,58,56
shop_name,"Ярославль ТЦ ""Альтаир""","Москва ТРК ""Атриум""","Москва ТРК ""Атриум""","Москва ТРК ""Атриум""","Москва ТРК ""Атриум"""
item_category_name,Кино - Blu-Ray,Музыка - Винил,Музыка - Винил,Музыка - Винил,Музыка - CD фирменного производства

,count,mean,std,min,25%,50%,75%,max
date_block_num,2935849.0,14.569911,9.422988,0.0,7.0,14.0,23.0,33.0
shop_id,2935849.0,33.001728,16.226973,0.0,22.0,31.0,47.0,59.0
item_id,2935849.0,10197.227057,6324.297354,0.0,4476.0,9343.0,15684.0,22169.0
item_price,2935849.0,890.853210,1729.799683,-1.0,249.0,399.0,999.0,307980.0
item_cnt_day,2935849.0,1.242641,2.618834,-22.0,1.0,1.0,1.0,2169.0
item_category_id,2935849.0,40.001383,17.100759,0.0,28.0,40.0,55.0,83.0

date                   object
date_block_num           int8
shop_id                  int8
item_id                 int16
item_price            float32
item_cnt_day            int16
item_name              object
item_category_id         int8
shop_name              object
item_category_name     object
dtype: object

### (1) Shops: create derived features ('city') and encode

Notes after checking, decide to do 4 things:
- Some shops have multiple id since they have franchise and non-franchise shops ---> decide to merge those id into one
- The first world of the shop name represents city ---> derive and encode 'city' column
- Only keep shop names shop ids that appeared in test set
- Drop 'shop name' column

In [4]:
shops.loc[:10, ['shop_name']]['shop_name'].unique()

array(['!Якутск Орджоникидзе, 56 фран', '!Якутск ТЦ "Центральный" фран',
       'Адыгея ТЦ "Мега"', 'Балашиха ТРК "Октябрь-Киномир"',
       'Волжский ТЦ "Волга Молл"', 'Вологда ТРЦ "Мармелад"',
       'Воронеж (Плехановская, 13)', 'Воронеж ТРЦ "Максимир"',
       'Воронеж ТРЦ Сити-Парк "Град"', 'Выездная Торговля',
       'Жуковский ул. Чкалова 39м?'], dtype=object)

In [5]:
print(shops['shop_name'][0], '||', shops['shop_name'][57])
print(shops['shop_name'][1], '||', shops['shop_name'][58])
print(shops['shop_name'][10], '||', shops['shop_name'][11])
print(shops['shop_name'][39], '||', shops['shop_name'][40])

!Якутск Орджоникидзе, 56 фран || Якутск Орджоникидзе, 56
!Якутск ТЦ "Центральный" фран || Якутск ТЦ "Центральный"
Жуковский ул. Чкалова 39м? || Жуковский ул. Чкалова 39м²
РостовНаДону ТРК "Мегацентр Горизонт" || РостовНаДону ТРК "Мегацентр Горизонт" Островной

In [6]:
shops['city'] = shops['shop_name'].apply(lambda x: x.split()[0])

In [7]:
shops['city'].unique()

array(['!Якутск', 'Адыгея', 'Балашиха', 'Волжский', 'Вологда', 'Воронеж',
       'Выездная', 'Жуковский', 'Интернет-магазин', 'Казань', 'Калуга',
       'Коломна', 'Красноярск', 'Курск', 'Москва', 'Мытищи', 'Н.Новгород',
       'Новосибирск', 'Омск', 'РостовНаДону', 'СПб', 'Самара', 'Сергиев',
       'Сургут', 'Томск', 'Тюмень', 'Уфа', 'Химки', 'Цифровой', 'Чехов',
       'Якутск', 'Ярославль'], dtype=object)

In [8]:
shops.loc[shops['city'] =='!Якутск', 'city'] = 'Якутск'

In [9]:
# Create Label Encoder
label_encoder = LabelEncoder()
# City Feature Label Encoding 
shops['city'] = label_encoder.fit_transform(shops['city'])

In [10]:
#  Modify shop_id in sales_train data
sales_train.loc[sales_train['shop_id'] == 0, 'shop_id'] = 57
sales_train.loc[sales_train['shop_id'] == 1, 'shop_id'] = 58
sales_train.loc[sales_train['shop_id'] == 10, 'shop_id'] = 11
sales_train.loc[sales_train['shop_id'] == 39, 'shop_id'] = 40

#  Modify shop_id in test data
test.loc[test['shop_id'] == 0, 'shop_id'] = 57
test.loc[test['shop_id'] == 1, 'shop_id'] = 58
test.loc[test['shop_id'] == 10, 'shop_id'] = 11
test.loc[test['shop_id'] == 39, 'shop_id'] = 40

In [11]:
# Leaking to imporve performance
unique_test_shop_id = test['shop_id'].unique()
# unique_test_item_id = test['item_id'].unique()
sales_train = sales_train[sales_train['shop_id'].isin(unique_test_shop_id)]
# sales_train = sales_train[sales_train['item_id'].isin(unique_test_item_id)]

In [12]:
# Remove shop_name feature
shops = shops.drop('shop_name', axis=1)

shops.head()

   shop_id  city
0        0    29
1        1    29
2        2     0
3        3     1
4        4     2

### (2) itmes: Create derived features

Notes after checking, decide to do 3 things:
- Some Category_name can be grouped into the same Category --> Extract the first world ---> Derive 'Category' column and encode
- Group all minority categories with subcategories less than 5 into "etc"
- Drop 'item_category_name' column

In [13]:
item_categories.loc[:10, ['item_category_name']]['item_category_name'].unique()

array(['PC - Гарнитуры/Наушники', 'Аксессуары - PS2', 'Аксессуары - PS3',
       'Аксессуары - PS4', 'Аксессуары - PSP', 'Аксессуары - PSVita',
       'Аксессуары - XBOX 360', 'Аксессуары - XBOX ONE', 'Билеты (Цифра)',
       'Доставка товара', 'Игровые консоли - PS2'], dtype=object)

In [14]:
# Extract the first word of the item_categories_name into category
item_categories['category'] = item_categories['item_category_name'].apply(lambda x: x.split()[0])  
item_categories['category'].value_counts()

category
Игры          14
Книги         13
Подарки       12
Игровые        8
Аксессуары     7
Музыка         6
Программы      6
Карты          5
Кино           5
Служебные      2
Чистые         2
PC             1
Билеты         1
Доставка       1
Элементы       1
Name: count, dtype: int64

In [15]:
def make_etc(x):
    if len(item_categories[item_categories['category']==x]) >= 5:
        return x
    else:
        return 'etc'

# Replace with 'etc' if category count is less than 5
item_categories['category'] = item_categories['category'].apply(make_etc)

In [16]:
item_categories.head()

        item_category_name  item_category_id    category
0  PC - Гарнитуры/Наушники                 0         etc
1         Аксессуары - PS2                 1  Аксессуары
2         Аксессуары - PS3                 2  Аксессуары
3         Аксессуары - PS4                 3  Аксессуары
4         Аксессуары - PSP                 4  Аксессуары

In [17]:
# Create Label Encoder
label_encoder = LabelEncoder()
# Category Feature Label Encoding 
item_categories['category'] = label_encoder.fit_transform(item_categories['category'])

# Remove item_category_name feature
item_categories = item_categories.drop('item_category_name', axis=1)

In [18]:
item_categories.head()

   item_category_id  category
0                 0         0
1                 1         1
2                 2         1
3                 3         1
4                 4         1

### (3) itmes: Create derived features

Notes after checking, decide to do 4 things:
- Drop 'item_name' column
- Only keep items that appears in the test set
- Derive column 'first_sale_date'
- Derive column 'mean_price_across_shops'

In [19]:
# Remove item_name feature
items = items.drop(['item_name'], axis=1)

In [20]:
# Leaking to imporve performance
unique_test_item_id = test['item_id'].unique()
sales_train = sales_train[sales_train['item_id'].isin(unique_test_item_id)]

In [21]:
# Create the date the product was first sold as a feature
items['first_sale_date'] = sales_train.groupby('item_id').agg({'date_block_num': 'min'})['date_block_num']

items.head()

   item_id  item_category_id  first_sale_date
0        0                40              NaN
1        1                76              NaN
2        2                40              NaN
3        3                40              NaN
4        4                40              NaN

In [22]:
items[items['first_sale_date'].isna()]

       item_id  item_category_id  first_sale_date
0            0                40              NaN
1            1                76              NaN
2            2                40              NaN
3            3                40              NaN
4            4                40              NaN
...        ...               ...              ...
22160    22160                40              NaN
22161    22161                37              NaN
22165    22165                31              NaN
22168    22168                62              NaN
22169    22169                69              NaN

[17454 rows x 3 columns]

In [23]:
# Replace NaN of first_sale_date with 34
items['first_sale_date'] = items['first_sale_date'].fillna(34)

In [24]:
# Create column - mean_price_across_shops
mean_price_across_shops = sales_train.groupby('item_id').agg({'item_price': 'mean'})
items = items.join(mean_price_across_shops, how='left', on='item_id')
items.rename(columns={'item_price': 'mean_item_price_across_shops'}, inplace=True)
items.head()

   item_id  item_category_id  first_sale_date  item_price
0        0                40             34.0         NaN
1        1                76             34.0         NaN
2        2                40             34.0         NaN
3        3                40             34.0         NaN
4        4                40             34.0         NaN

### (4) sale_train

Notes after checking, decide to do 4 things:
- Some shops have multiple id since they have franchise and non-franchise shops ---> decide to merge those id into one
- The first world of the shop name represents city ---> derive and encode 'city' column
- Only keep shop names shop ids that appeared in test set
- Drop 'shop name' column